.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.order-ai-button {
  border-radius: 40px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #0e8476;
  background-color: #0e8476;
}

.order-ai-button:hover {
  border-radius: 40px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s ease-in-out;
  background-color: #0d6a5d;
}

.order-ai-button:active {
  border-radius: 40px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.5);
}

input {
  caret-color: #0e8476;
}

@media screen and (max-width: 375px) {
  .page-wrap {
    display: none;
  }
}
